<div class="flex flex-col border-custom-dark-100 bg-custom-dark-300 p-5 rounded-xl border-1">
    <div class="flex flex-col lg:flex-row justify-between mb-5">
        <p class="font-semibold">
            {{ 'chat.owner'|trans({'%name%': info.user.name}) }}
        </p>
        <p class="font-semibold">
            {{ 'chat.updated_at'|trans({'%date%': info.updatedAt|date('d/m/Y H:i')}) }}
        </p>
    </div>

    <div class="flex flex-col gap-5 p-5 lg:p-12 max-h-146 bg-custom-dark-200 rounded-xl overflow-scroll">
        {% embed 'components/dashboard/chat/message.html.twig' with {
            user: info.user.id
        } %}
            {% block values %}
                {{ info.content }}
            {% endblock %}
        {% endembed %}

        {% for value in values %}
            {% embed 'components/dashboard/chat/message.html.twig' with {
                user: value.user.id
            } %}
                {% block values %}
                    {{ value.content }}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>


    {{ form_errors(form) }}

    {{ form_start(form, { attr: { class: "grid gap-4"}}) }}

        <div class="flex flex-row justify-center items-center gap-2 mt-5 w-full">
            {% block form %}
            {% endblock %}

            <button type="submit" aria-label="{{ submit|default('Envoyer') }}"
                    class="flex items-center cursor-pointer rounded-xl p-3 text-xl font-semibold bg-custom-orange-200 hover:bg-custom-orange-100 transition">
                <i class="bxs-send-alt"></i>
            </button>
        </div>

    {{ form_end(form) }}
</div>
