{% extends 'profile-base.html.twig' %}

{% block title %}
    {{ 'profile.request.list.title'|trans() }}
{% endblock %}

{% block name %}
    {{ 'profile.request.list.name'|trans() }}
{% endblock %}

{% block body %}
    {% for flash in app.flashes('success') %}
        <div class="bg-custom-green-100 mb-12 rounded-xl p-5 text-center font-bold" role="alert">
            {{ flash }}
        </div>
    {% endfor %}

    {% set keys = [
        'profile.request.list.table.id'|trans(),
        'profile.request.list.table.title'|trans(),
        'profile.request.list.table.category'|trans(),
        'profile.request.list.table.date'|trans(),
        'profile.request.list.table.action'|trans()
    ] %}

    {% set data = ['id', 'title'] %}

    {% embed 'components/dashboard/table.html.twig' with {
        root: root,
        rootParams: {'page': 1},
        keys: keys,
        values: requests,
        page: page,
        total: requestCount,
        gridSize: 'grid-cols-6', } %} {% block buttons %} {% include 'components/dashboard/button-table.html.twig' with {
        icon: 'bxs-plus-circle',
        text: 'profile.request.list.button.add'|trans(),
        root: 'app_user_request_new',
        rootParams: null,
    } %}
    {% endblock %}

        {% block values %}
            {% for d in data %}
                <div class="flex items-center">
                    <p class="truncate mr-5">
                        {{ attribute(value, d) }}
                    </p>
                </div>
            {% endfor %}
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.category.label }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.updatedAt|date('d M Y') }}
                </p>
            </div>
            <div class="flex items-center gap-1">
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    icon: 'bxs-send-alt',
                    tooltip: 'profile.request.list.action.view'|trans(),
                    isDanger: false,
                    root: 'app_user_request',
                    rootParams: { 'requestEntity': value.id },
                    isBlank: false,
                } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
