{% extends 'profile-base.html.twig' %}

{% block title %}
    Admin - {{ 'admin.document.list.title'|trans() }}
{% endblock %}

{% block name %}
    {{ 'admin.document.list.name'|trans() }}
{% endblock %}

{% block body %}
    {% set keys = [
        'admin.document.list.table.id'|trans(),
        'admin.document.list.table.name'|trans(),
        'admin.document.list.table.user'|trans(),
        'admin.document.list.table.category'|trans(),
        'admin.document.list.table.file'|trans(),
        'admin.document.list.table.date'|trans(),
        'admin.document.list.table.action'|trans()
    ] %}

    {% set data = ['id', 'name'] %}

    {% embed 'components/table.html.twig' with {
        root: root,
        keys: keys,
        values: documents,
        page: page,
        total: documentCount,
        gridSize: 'grid-cols-7',
    } %}
        {% block values %}
            {% for d in data %}
                <div class="flex items-center">
                    <p class="truncate mr-5">
                        {{ attribute(value, d) }}
                    </p>
                </div>
            {% endfor %}
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.user.name }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.category.label }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.file.name }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.createdAt|date('d M Y') }}
                </p>
            </div>
            <div class="flex items-center gap-1">
                <a href="{{ path('app_admin_document', { 'user': value.user.id, 'document': value.file.name }) }}" target="_blank">
                    <i class="bx-eye bg-custom-dark-200 rounded-xl p-3 hover:bg-custom-dark-400 transition"></i>
                </a>
                <a href="{{ path('app_admin_user', { id: value.user.id }) }}">
                    <i class="bxs-user bg-custom-dark-200 rounded-xl p-3 hover:bg-custom-dark-400 transition"></i>
                </a>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
