{% extends 'profile-base.html.twig' %}

{% block title %}
    Admin - {{ 'admin.document.list.title'|trans() }}
{% endblock %}

{% block name %}
    {{ 'admin.document.list.name'|trans() }}
{% endblock %}

{% block body %}
    {% for flash in app.flashes('success') %}
        <div class="bg-custom-green-100 mb-12 rounded-xl p-5 text-center font-bold" role="alert">
            {{ flash }}
        </div>
    {% endfor %}

    {% set keys = [
        'admin.document.list.table.id'|trans(),
        'admin.document.list.table.name'|trans(),
        'admin.document.list.table.user'|trans(),
        'admin.document.list.table.category'|trans(),
        'admin.document.list.table.file'|trans(),
        'admin.document.list.table.date'|trans(),
        'admin.document.list.table.action'|trans()
    ] %}

    {% set data = ['id', 'name'] %}

    {% embed 'components/dashboard/table.html.twig' with {
        root: root,
        rootParams: {'page': 1},
        keys: keys,
        values: documents,
        page: page,
        total: documentCount,
        gridSize: 'grid-cols-7',
    } %}
        {% block buttons %}
            {% include 'components/dashboard/button-table.html.twig' with {
                icon: 'bxs-eye',
                text: 'admin.document.list.button.categories'|trans(),
                root: 'app_admin_document_categories',
                rootParams: null,
            } %}
            {% include 'components/dashboard/button-table.html.twig' with {
                icon: 'bxs-file-plus',
                text: 'admin.document.list.button.add'|trans(),
                root: 'app_admin_document_new',
                rootParams: null,
            } %}
        {% endblock %}

        {% block values %}
            {% for d in data %}
                <div class="flex items-center">
                    <p class="truncate mr-5">
                        {{ attribute(value, d) }}
                    </p>
                </div>
            {% endfor %}
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.user.name }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.category.label }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.file.name }}
                </p>
            </div>
            <div class="flex items-center">
                <p class="truncate mr-5">
                    {{ value.createdAt|date('d M Y') }}
                </p>
            </div>
            <div class="flex items-center gap-1">
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    icon: 'bxs-eye',
                    tooltip: 'admin.document.list.action.view'|trans(),
                    isDanger: false,
                    root: 'app_admin_document',
                    rootParams: { 'user': value.user.id, 'document': value.id },
                    isBlank: true,
                } %}
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    icon: 'bxs-user',
                    tooltip: 'admin.document.list.action.user'|trans(),
                    isDanger: false,
                    root: 'app_admin_user',
                    rootParams: { 'id': value.user.id },
                    isBlank: false,
                } %}
                {% include 'components/dashboard/action-button-table.html.twig' with {
                    icon: 'bxs-trash',
                    tooltip: 'admin.document.list.action.delete'|trans(),
                    isDanger: true,
                    root: 'app_admin_document_delete',
                    rootParams: { document: value.id },
                    isBlank: false,
                } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
